asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
idna
inflection
jsonschema
jsonschema-specifications
oauthlib
packaging
pycparser
PyJWT
python3-openid
pytz
PyYAML
referencing
requests
requests-oauthlib
rpds-py
social-auth-app-django
social-auth-core
sqlparse
swagger-spec-validator
typing_extensions
uritemplate
urllib3
